@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <div>
        <a id="exeFile" href="/Content/RaspVersion/newVersion.jar"
           type="application/octet-stream">Run the exem</a>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function () {
                console.log("ready1")
        
                $('#exeFile')[0].click(function () {
                });
                console.log("downloaded")

            });
        </script>

  